* {
    text-align: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    align-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1, #fbc2eb);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

.main {
    display: inline-block;
    background-color: antiquewhite;
    width: 500px;
    height: 300px;
    text-align: center;
    margin: auto;
    user-select: none;
    border-radius: 5px;
    border: 2px solid brown;
    box-shadow: inset;
}

.container {

    display: grid;
    grid-template-columns: 1fr 1fr;


    justify-content: center;
}

.choices {
    background-color: #9DC3E6;
    width: 200px;
    height: 40px;
    margin: 25px;
}

#amount {
    margin: 25px;
    width: 200px;
    background-color: azure;
    height: 28px;
    border-radius: 5px;
}

#result {
    margin: 25px;
    width: 200px;
    background-color: azure;
    height: 28px;
    border-radius: 5px;
    align-items: center;
}

input {
    width: 200px;
    height: 25px;
    padding: 0px;
    border-radius: 5px;
}

#btn {
    height: 40px;
    background-color: #8fce8f;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    width: 150px;
    margin-left: 180px
}

#btn:hover {
    cursor: pointer;
    background-color: #7D9E7D
}

select {
    height: 40px;
    width: 200px;
    background-color: #b6cce18f;
    border-radius: 5px;
}

@media screen and (max-width: 520px) {
    h1 {
        text-decoration: underline;
        font-size: 1.5em;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
        justify-content: center;
    }

    #btn {
        margin: auto;
    }

    body {
        background: linear-gradient(160deg, #0f2027, #203a43, #2c5364);
        background-size: 400% 400%;
        animation: gradientAnimation 12s ease infinite;
    }

    .main {
        width: 90%;
        height: auto;
        padding: 20px;
        margin: 20px;
        box-sizing: border-box;
        justify-content: center;
        justify-items: center;
    }
}
